{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "book_shop/css/main.css" %}">
    {% block extra_headers %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
<script src="https://kit.fontawesome.com/69f1219267.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="../../static/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../static/book_shop/js/network.js"></script>
<script type="text/javascript" src="../../static/book_shop/js/utils.js"></script>
<script type="text/javascript" src="../../static/vendor/bootstrap/bootstrap.min.js"></script>
<script src="../../static/book_shop/js/worker.js" type="text/javascript"></script>
<script src="../../static/book_shop/js/purchase.js" type="text/javascript"></script>

{% block extra_scripts %}
{% endblock %}
</body>
</html>