{% extends 'book_shop/base.html' %}
{% block title %}
    Страница работника склада | Заявки на доставку
{% endblock %}
{% block content %}
    {% include 'book_shop/components/navbar.html' %}
    <div class="main container">
        <div class="container-fluid justify-content-between d-flex mb-4 align-items-center">
            <div class="d-inline title text-left">Заявки на доставку книг в торговый зал</div>
        </div>
        <div class="list-group">
            {% for request in requests %}
                {% if request.status %}
                    <a data-request-id="{{ request.id }}" href="#"
                       class="list-group-item list-group-item-action bg-success text-light">
                        <div class="d-flex w-100 justify-content-between">
                            <div>ID заявки: {{ request.id }}</div>
                            <div>Заявка выполнена</div>
                            <small>{{ request.date }}</small>
                        </div>
                    </a>
                {% else %}
                    <a data-request-id="{{ request.id }}" href="#"
                       class="list-group-item list-group-item-action bg-light">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ request.book.title }}<br><small>{{ request.book.author }}</small></h5>
                            <small>{{ request.date }}
                                <div>Количество книг: {{ request.number }}</div>
                            </small>

                        </div>
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <small>{{ request.worker.first_name }} {{ request.worker.last_name }}</small>
                            <button type="submit" data-request-id="{{ request.id }}"
                                    class="btn btn-outline-success mb-2">
                                Выполнена
                            </button>
                        </div>
                    </a>

                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}