{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {{ requests_nav|yesno:"active," }}" href="/workers/requests">ЗАЯВКИ</a>
                    </li>
                    <li>
                        <a class="nav-link {{ delivery_nav|yesno:"active," }}" href="/workers/delivery">ПОСТАВКИ</a>
                    </li>
                </ul>
                <a href="/logout">
                    <button class="btn btn-outline-success my-2 my-sm-0">ВЫЙТИ</button>
                </a>
            </div>
        </div>
    </nav>
{% endblock %}