{% block request %}
    <div class="modal fade" id="request-delivery" tabindex="-1" role="dialog"
         aria-labelledby="order" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title w-100" id="exampleModalCenterTitle">Новая заявка</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="delivery-modal-body">
                    <form class="text-left">
                        <div class="form-group">
                            <label for="amount">Количество</label>
                            <input type="number" class="form-control" id="delivery-amount" name="amount"
                                   placeholder="Введите количество экземпляров">
                            <input type="hidden" class="form-control" id="book_id" name="book_id">
                        </div>
                        <div class="list-group list-group_scrollable">
                            {% for book in books %}
                                <a href="#" data-book-id="{{ book.id }}" class="list-group-item list-group-item-action
                                list-group-item-book">
                                    <div> {{ book.title }} </div>
                                    <div class="grey">{{ book.author }}</div>
                                </a>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" id="worker-delivery-button" class="btn btn-success">Отправить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}